<mat-toolbar fxLayout="row" color="primary" fxLayoutAlign="start center" fxLayoutGap="20px" class="navbar elevation">
    <span fxFlex="10%">#SongHub</span>
    <div class="input-group input-group-no-border">
        <span class="input-group-addon">
            <i class="fa fa-search"></i>
        </span>
        <input [(ngModel)]="query" (keyup.enter)="query ? onSearch() : ''" class="form-control" name="search" placeholder="Search for a series..." type="text" >
    </div>
    <button mat-button>Login</button>
    <a routerLink="sign-up" mat-raised-button color="accent">Sign up</a>
</mat-toolbar>