.mat-card{
    padding: 0;
}

.mat-card-image:first-child{
    margin-top: 0;
}

.mat-card-image {
    width: auto;
    margin: 0;
}

.search-result-item-heading {
    font-weight: 400;

    a{
         color: #555555;
    }
}

.info {
    margin-top: 2px;
    font-size: 0.875rem;
    color: #999999;
}

.content{
    margin-top: 20px;
    margin-bottom: 20px;
}